*{
    margin: 0;
    padding: 0;
}
.one{
    width: 1200px;
    background: white;
}
h1{
    position: absolute;
    left:75px ;
    top: 22px;
}
.one .top{
    list-style: none;
    display: inline-block;
    position: absolute;
    left: 290px;
    top: 0px;
}
.one .top li{
    float: left;
    width: 94px;
    height: 90px;
    background: white;
    text-align: center;
    line-height: 85px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.one .top #music{
    background: #31c27c ;
}
.one .top #music a{
    color: white;
}
.one .top a:hover{
    color: #31c27c;
}
.one .top .photo{
    position: absolute;
    left: 245px;
    top: 15px;
    height: 14px;
}
.one .one-1{
    position: absolute;
    left: 770px;
    top: 23px;
    display: inline-block;
}
.one .one-1 input[type="text"]{
    width: 174px;
    height: 36px;
    padding:0px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.one .one-1 i{
    width: 16px;
    height: 16px;
}
.one .reg{
    position: absolute;
    left: 980px;
    top: 30px;
}
.one span{
    display: block;
    width: 120px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 2px;
    background: #31c27c;
    position: absolute;
    left: 1030px;
    top: 23px;
}
.one span a{
    color: white;
    font-size: 13px;
}
.one span:hover{
    color:#31c27c ;
}
.one .cus{
    width: 160px;
    height: 150px;
    border: 5px ridge #ddd;
    background: azure ;
    display: none;
    position: absolute;
    left: 210px;
    top: 70px;
}
.one .top #cus:hover .cus{
    display: block;
}
.one .cus p{
    width: 160px;
    height: 25px;
}
.one .cus input[type=button]{
    width:140px;
    height: 25px;
    background: #31c27c;
    border-radius:10px ;
    color: white;
}
.one a span{
    font-size: 13px;
    display: block;
    width: 100px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background: white;
    color: black;
    position: absolute;
    left: 1170px;
    top: 23px;
}
.one a span:hover{
    background: #ddd;
}
.two{
    width: 1200px;
    height: 52px;
    margin: 90px 0px 0px 76px;
    border-top:1px solid #ddd;
}
.two ul{
    list-style: none;
    padding:0px 190px;
}
.two li{
    float: left;
    font-size: 15px;
    padding: 0px 20px;
    line-height: 52px;
}
.two li #first{
    color: #31c27c;
}
.two li a:hover{
    color: #31c27c;
}
.new{
    width: 100%;
    height: 1396px;
    margin: 0 auto;
    background-image: linear-gradient(to top,#fff,#ddd);
}
.new ul{
    list-style: none;
    padding: 50px 135px;
}
.new ul li{
    float: left;
    padding: 0 10px;
}
.new ul a{
    font-size: 15px;
    padding: 5px 10px;
}
.new ul .area1:hover{
    color: #31c27c;
}
.new ul .area{
    color: white;
    background: #31c27c;
}
.new .new_1 img,.new .new_2 img{
    width: 224px;
    height: 224px;
}
.new .new_1{
    width: 224px;
    height: 305px;
    margin: 0 10px 40px 70px;
    display: inline-block;
}
.new .new_2{
    width: 224px;
    height: 305px;
    margin: 0 10px 40px 10px;
    display: inline-block;
}
.new .new_1 .grow1,.new .new_2 .grow1{
    margin: 10px 0 5px;
}
.new .new_1 .grow,.new .new_2 .grow{
    font-size: 15px;
    color: black;
}
.new .new_1 .name,.new .new_1 .time,.new .new_2 .name,.new .new_2 .time{
    font-size: 14px;
    color: #999999;
}
.new .new_1 .grow:hover,.new .new_1 .name:hover,.new .new_2 .grow:hover,.new .new_2 .name:hover{
    color: #31c27c;
}
.foot{
    width: 470px;
    height: 50px;
    margin: 90px auto;
}
.foot #one{
    color: white;
    background: #31c27c;
}
.foot a,.foot span{
    padding: 5px 21px;
    margin: 0 5px;
    color: #999;
}
.foot a:hover{
    color: white;
    background: #31c27c;
}
.fix{
    width: 144px;
    height: 96.594px;
    padding: 18px;
    box-shadow: 0 3px 5px rgba(0,0,0,.07);
    background: white;
    position: fixed;
    left: 1100px;
    top: 250px;
    z-index: 1001;
}
.fix img{
    width: 102px;
    height: 27.594px;
    margin: 0 21px 9px;
}
.fix p{
    color: #a6a6a6;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.fix a{
    padding: 5px 25px;
    border-radius: 26px;
    background: #31c27c;
    color: white;
    font-size: 15px;
    margin: 0 9px;
}
.fix{
    width: 144px;
    height: 96.594px;
    padding: 18px;
    box-shadow: 0 3px 5px rgba(0,0,0,.07);
    background: white;
    position: fixed;
    left: 1130px;
    top: 190px;
    z-index: 1001;
}
.fix img{
    width: 102px;
    height: 27.594px;
    margin: 0 21px 9px;
}
.fix p{
    color: #a6a6a6;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.fix a{
    padding: 5px 25px;
    border-radius: 26px;
    background: #31c27c;
    color: white;
    font-size: 15px;
    margin: 0 9px;
}
.return{
    padding: 5px;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    text-align: center;
    position: fixed;
    left: 1270px;
    top: 465px;
    z-index: 1000;
    background: white;
}
.return:hover {
    color: #31c27c;
    background: #ddd;
}
.play{
    border: 1px solid #c9c9c9;
    font-size: 14px;
    text-align: center;
    position: fixed;
    left: 1270px;
    top: 500px;
    z-index: 1000;
    background: white;
}
.play img{
    width: 20px;
    height: 17px;
    margin: 10px 9px 0;
}
.play:hover {
    background: #ddd;
}